<div class="container">
    <a matButton routerLink="/dashboard" class="tab-btn" role="button">
        <mat-icon>home</mat-icon>
        Dashboard
    </a>
    <a matButton routerLink="/accountGeneral" class="tab-btn" role="button">
        <mat-icon>dns</mat-icon>
        Accounts
    </a>
    <a matButton routerLink="empty" class="tab-btn" role="button">
        <mat-icon>people</mat-icon>
        Brokers
    </a>
    <a matButton routerLink="empty" class="tab-btn" role="button">
        <mat-icon>file_copy</mat-icon>
        Submissions
    </a>
    <a matButton routerLink="empty" class="tab-btn" role="button">
        <mat-icon> business</mat-icon>
        Organizations
    </a>
    <a matButton routerLink="empty" class="tab-btn" role="button">
        <mat-icon>flag</mat-icon>
        Goals & Rules
    </a>
    <a matButton routerLink="empty" class="tab-btn" role="button">
        <mat-icon> vpn_key</mat-icon>
        Admin
    </a>
    <a matButton routerLink="empty" class="tab-btn" role="button">
        <mat-icon> vpn_key</mat-icon>
        Admin
    </a>
    <a matButton routerLink="empty" class="tab-btn" role="button">
        <mat-icon> vpn_key</mat-icon>
        Admin
    </a>
</div>