<div class="tabs-container">
    <a routerLink="/dashboard" class="tab-btn" role="button">
        Dashboard
    </a>
    <a routerLink="/accountGeneral" class="tab-btn" role="button">
        Accounts
    </a>
    <a routerLink="empty" class="tab-btn" role="button">
        Brokers
    </a>
    <a routerLink="empty" class="tab-btn" role="button">
        Submissions
    </a>
    <a routerLink="empty" class="tab-btn" role="button">
        Organizations
    </a>
    <a routerLink="empty" class="tab-btn" role="button">
        Goals & Rules
    </a>
    <a routerLink="empty" class="tab-btn" role="button">
        Admin
    </a>
    <a routerLink="empty" class="tab-btn" role="button">
        Admin
    </a>
    <a routerLink="empty" class="tab-btn" role="button">
        Admin
    </a>
</div>