$background-blue: #1976d2;

.tab-btn {
    background-color: black;
    margin-right: 0.5rem;
    border: 1px solid #23263a;
}

.tab-btn:hover,
.tab-btn:focus {
  background-color: $background-blue;
}

.tab-btn.active,
.tab-btn[aria-current="page"] {
  background-color: $background-blue;
}

a.mat-mdc-button.tab-btn {
  color: white;
}
